/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}
* {
	font-family: "Roboto", sans-serif;
}
ul,
li {
	list-style-type: none;
}
.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 175px 1fr;
	width: 100%;
	height: 100%;
	grid-template-areas:
		"sidebar header header header header"
		"sidebar main-content main-content main-content main-content";
}

.header {
	background-color: white;
	width: 100%;
	padding: 0 16px;
	grid-area: header;
	display: grid;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 1;
	grid-template-areas:
		"top"
		"bottom"
		"bottom";
}
.search {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-start;
}
.search #searchInput {
	flex: 1;
	border-radius: 32px;
	border-style: none;
	background-color: #d6d6d6;
}

.header > .top {
	background-color: rgb(255, 254, 254);
	grid-area: top;
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-size: 1em;
	font-weight: bolder;
}
.icon {
	width: 16px;
	height: 16px;
}
.user-info {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: center;
}
.header > .bottom {
	grid-area: bottom;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.header-content button {
	border-radius: 36px;
}
.welcome {
	display: flex;
	align-items: center;
	gap: 12px;
}
.welcome div {
	display: flex;
	flex-direction: column;
}
.welcome div :nth-child(1) {
	font-size: 0.8em;
	font-weight: bold;
}
.welcome div :nth-child(2) {
	font-size: 1.4em;
	font-weight: bolder;
}
.welcome img {
	border-radius: 50%;
	width: 64px;
	height: 60px;
}

.header-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-content button {
	border-radius: 36gite ainpx;
	border: 0px;
	padding: 8px 16px;
	background-color: rgba(68, 153, 228);
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 48px;
	background-color: deeppink;
	width: 100%;
	grid-area: sidebar;
	color: whitesmoke;
	font-size: 20px;
	font-weight: 700;
	box-shadow: 3px 0 5px -2px #000;
	z-index: 1;
}
.sidebar > * {
	border: 1px solid red;
}
.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 36px;
	height: 36px;
	gap: 20px;
}
.menu ul,
.submenu ul {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}
.menu li,
.submenu li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.menu img,
.submenu img {
	width: 16px;
	height: 16px;
}
.main-content {
	background-color: palegreen;
	width: 100%;
	grid-area: main-content;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 0 12px;
}
.projects > .title {
	flex: 1 0 100%;
}
.project-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	min-width: 300px;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
	border-left: 8px solid rgba(255, 174, 0, 0.87);
}
.project-buttons {
	flex: 0 1 16px;
	display: flex;
	align-items: center;
	gap: 12px;
	justify-content: flex-end;
}
.project-buttons img {
	height: 16px;
	width: 16px;
}
.side-content {
	display: grid;
	gap: 32px;
	grid-template-rows: 1fr 1fr;
}
.description {
	color: #747474;
}
.announcements {
	display: flex;
	gap: 16px;
	flex-direction: column;
}
.announcement-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.announcement-container > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.announcement-container > div:nth-child(-n + 2) {
	border-bottom: #747474 solid 1px;
}
.trending {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.trending-container {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
	justify-content: center;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.trending-container img {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}
.trending-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 16px;
}
.trending-container > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 24px;
}

.title {
	font-weight: 700;
	padding-bottom: 8px;
}
.profilePic {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
