* {
	background-color: rgb(34, 135, 224);
}

.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.header {
	background-color: coral;
}
.sidebar {
	background-color: deeppink;
}
.main-content {
	background-color: palegreen;
}
